.menu{
  width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.active{
  color: green;
  font-size: large;
  font-weight: bold;
}

body{
  background-color:lemonchiffon;
}

p, img, h1, h4{
  margin: 20px;
}



